body{
  padding-top:80px;
  word-wrap:break-word;
  background-color:lightgoldenrodyellow;
}


.container{
  text-align: center;
}

#logout{
  position: absolute;
  bottom: 0;
  width: 100%;
}
body{
  background-image: url("backround.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

